<h1>id: <% @message.id %>のタスク編集ページ</h1>

<%= form_for(@message) do |f| %>
  <%= f.label :content, 'タスク' %>
  <%= f.text_field :content %>
  
  <%= f.submit '追加' %>
<% end %>

<%= link_to 'タスクに戻る', messages_path %>